section.hero {
  .sec_container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: -130px;
    z-index: 1;
    position: relative;
    .img_container {
      width: 100%;
      height: 275px;
      overflow: hidden;
      border-radius: 35px;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all 1.5s ease-in-out;
        opacity: 0;
      }

      .img_1 {
        width: 100vw;
        object-fit: contain;
        transform: scale(1.5);
      }

      .img_2 {
        position: absolute;
        bottom: -25px;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        transform: scale(1.4);
        object-fit: contain;
      }

      .img_4 {
        position: absolute;
        bottom: 22px;
        right: -104px;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        scale: 1;
      }

      .img_3 {
        width: 100vw;
        object-fit: cover;
        transform: scale(1.5);
      }

      .img_1.active {
        transform: scale(1.5) translateX(10px);
      }
      .img_2.active {
        transform: scale(1.4) translateX(-50px);
      }

      .img_1.active,
      .img_2.active {
        opacity: 1;
      }
    }

    .text_container {
      width: 100%;
      margin-top: 18px;
      margin-bottom: 4px;
      .title {
        color: unset;
        color: #cd5827;
        h2 {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
          color: #cd5827;
        }
      }
      .desc {
        p {
          margin: 0;
          font-size: 24px;
          font-weight: 600;
          opacity: 0.5;
          margin-left: 30px;
        }
      }
    }

    .section {
      .box {
        border-radius: 20px;
        display: flex;
        background-color: #2e7cf6;
        // height: 179px;
        overflow: hidden;
        .text {
          padding: 26px;
          display: flex;
          p {
            margin: 0;
            margin: auto;
            font-size: 14px;
            color: white;
            font-weight: 600;
          }
        }

        .img_container2 {
          margin-top: 0;
          height: unset;

          img {
            width: 190px;
            border-radius: 0;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
