section.sections2 {
  margin-top: 48px;
  .boxes_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 20px;

    .box {
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 173px;
      height: 177px;
      justify-content: center;
      padding: 8px 9px 18px 9px;
      box-shadow: 2px 3px 8px 0px #0000000d;

      .img_container {
        img {
        }
      }

      .title {
        margin-top: 15px;
        h4 {
          text-align: center;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
